# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
 
# User-specific files (Mono Auto Generated)
mono_crash.*
 
# Visual Studio Code
.vscode/
 
# Backup & build folders
[Tt]emp/
[Bb]in/
[Oo]bj/
[Ll]og/
 
# Visual Studio workspace-specific files
.vs/
 
# Database files
*.mdf
*.ldf
 
# NPM package files
node_modules/
 
# Compiled binary files
*.dll
*.exe
*.so
*.dylib
 
# Logs
*.log
 
# Other temporary files
*.tmp
*.swp